//Own variables
$pink-colour: #E6007E;
$blue-colour: #2A697B;
$footer-colour: #313131;
$font-color: white;
$padding-five: 5px;
$height-footer: 30px;
$margin-right-three: 3px;
$font-size-footer: 12px;
$float-footer-left: left;
$width-100: 100%;
$fifty-pixels: 50px;
$fifteen-pixels: 15px;
$bold-font: bold;
$design-none: none;
